.text-primary-v2 {
    color: var(--primary-color) !important;
}

.text-warning-v2 {
    color: var(--warning-color) !important;
}

.text-success-v2 {
    color: var(--success-color) !important;
}

.text-danger-v2 {
    color: var(--danger-color) !important;
}

.text-secondary-v2 {
    color: var(--secondary-color) !important;
}

.text-dark-v2 {
    color: var(--font-color) !important;
}

.text-muted-v2 {
    color: var(--muted-color) !important;
}

.text-main-v2 {
    color: var(--body-font-color) !important;
}

.text-truncated {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* Adjust the number of lines as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Override to allow for natural text wrapping */
}

.text-right {
    text-align: right;
}
  
.f-25{
    font-size: 25px;
}

.f-10{
    font-size: 10px;
}